<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    {#console.log(window.location.host); // 127.0.0.1:8000#}
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        {#var message = data['message'];#}
        {#接收服务端发过来的消息，按接收消息格式自行改变#}
        {#var message = data['content']; // 聊天室#}
        var message = data.message['content']; // 一对一

        {#将接受的消息展示在界面#}
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        {#chatSocket.send(JSON.stringify({'message': message}));#}

        {#发送消息到服务端；为了和小程序统一格式，再加上其他用户信息，由于没有用户登陆，暂且写死#}
        {# 以后可以再开发个vue项目，加入这个聊天室功能，多种客户端交互；后端代码不变#}
        chatSocket.send(JSON.stringify({
            "content":message,
            "date":"2020/08/16 14:31:16",
            "type":"text",
            "nickName":"狗兆兆",
            "avatarUrl":"http://auction-1302698597.cos.ap-shenzhen-fsi.myqcloud.com/kifzx81596260458061.jpg"
        }));


        messageInputDom.value = '';
    };
</script>
</html>